<div id="ctrl-panel-container">


  <div id="title-img" *ngIf="!flogin"><i class="fa fa-users"></i></div>

  <div id="title" *ngIf="!flogin">PTC 話務系統</div>

  <div id="login-form" *ngIf="!flogin">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="member.loginID" placeholder="話務帳號">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="member.extension" placeholder="請輸入分機號碼">
    </div>

    <button type="button" class="btn btn-block btn-danger" (click)="flogin = !flogin"><i class="fa fa-headphones"></i>話務登入</button>
  </div>

  <div id="operator" *ngIf="flogin && !dial">
    <div id="dail-form">
      <div id="dial">
        <div id="agent-info">值機員代號:10019494 分機:3934</div>
        <div id="phone-num">尚未輸入電話</div>
        <div class='funcs'>
          <i class="fa fa-child"></i>
          <i class="fa fa-bell-slash-o workon"></i>
          <i class="fa fa-share-square-o logout" (click)="flogin = !flogin"></i>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
        </div>
        <div class="row">
          <div class="col">4</div>
          <div class="col">5</div>
          <div class="col">6</div>
        </div>
        <div class="row">
          <div class="col">7</div>
          <div class="col">8</div>
          <div class="col">9</div>
        </div>
        <div class="row">
          <div class="col">#</div>
          <div class="col">0</div>
          <div class="col">*</div>
        </div>
      </div>
      <button type="button" class="btn btn-block btn-success" (click)="dial = !dial"><i class="fa fa-phone"></i>撥號</button>
    </div>

  </div>
  <div id="onHook" *ngIf="dial">
    <div id="user-img"><img src="https://i.kinja-img.com/gawker-media/image/upload/s--6qLfWKim--/c_scale,f_auto,fl_progressive,q_80,w_800/y7fvvbuthccs36bxdemf.jpg"></div>
    <div id="phone-num">(+886)0926366680</div>
    <div id="user-name">chenHungTzu</div>
    <div id="phone-status">Calling...</div>
    <div class="row">
      <div class="item">
        <div class="m-l-15"><i class="fa fa-microphone circle"></i></div>
        <div class="m-l-15">Mute</div>
      </div>
      <div class="item">
        <div class="m-r-15"><i class="fa fa-stop-circle circle"></i></div>
        <div class="m-r-15">Hold on</div>
      </div>
      <div class="item">
        <div class="m-l-15"><i class="fa fa-keyboard-o circle"></i></div>
        <div class="m-l-15">Keyboard</div>
      </div>
      <div class="item">
        <div class="m-r-15"><i class="fa fa-transgender circle"></i></div>
        <div class="m-r-15">Transfer</div>
      </div>
      <button type="button" class="btn btn-block btn-danger" (click)="dial = !dial"><i class="fa fa-phone"></i>掛斷</button>

    </div>
  </div>
</div>