#ctrl-panel-container{
    position: absolute;
    width : 100vw;
    height: 100vh;
    background: linear-gradient(#006374, #008080);

    #user-img{
        width: 120px;
        height: 120px;
        border-radius: 120px;
        color: white;
        position: relative;
        top: 10vh;
        border: 3px solid white;
        text-align: center;
        font-size: 70px;
        left: calc(50vw - 60px);

    }

    #title{
        position: relative;
        color: white;
        text-align: center;
        top: 20vh;
        font-size: 30px;
    
    }
    #login-form{
        position: absolute;
        width: 100vw;
        top: 60vh;
        button{
            font-size: 22px;
            margin-top: 10vh;
            border-top: 1px solid;
            border-bottom: 1px solid;
            i{
                margin-right: 10px;
            }
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
        }
        .form-control{
            background-color: transparent;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid;
            color: white;
            width: 70%;
            margin-left: 15%;
        }
    }

    
    #dail-form{
            top: 10vh;
            position: relative;
            width: 100vw;
            text-align: center;
            color: white;
            font-size: 40px;
            button{
                font-size: 22px;
                margin-top: 10vh;
                border-top: 1px solid;
                border-bottom: 1px solid;
                i{
                    margin-right: 10px;
                }
            }
            .col{
                border : 1px solid white;
            }
            .col:active{
                background-color: white;
                color: #008080;
            }
            .row{
                margin: 0;
            }
            #dial{
                position: relative;
                height: 20vh;
                margin-bottom: 5vh;
                margin-left: 5vw;
                margin-right: 5vw;
                background-color: black;
                border-radius: 20px;
                color: white;
                width: 90vw;
                .funcs{
                    right: 0;
                    position: absolute;
                    i{                     
                        font-size: 25px;
                        margin-right: 20px;
                        opacity: 0.5;
                    }
                   
                }
               
                #agent-info{
                    color: rgba($color: (white), $alpha: 0.7);
                    font-size: 10px;
                    text-align: left;
                    margin-left: 20px;
                }
                #phone-num{
                    color: white;
                    text-align: left;
                    font-size: 20px;
                    font-weight: bolder;
                    margin-top: 15px;
                    margin-left: 20px;
                    max-width: 80vw;
                    overflow-x: scroll;
                
                }
              
            }
    }

    
}